
.root {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-columns: auto;
}

.longCard {
    display: flex;
    gap: 10px;
}

.cameraImage {
    width: 600px;
}