@import "./vars.scss";

.root {
    background-color: $bg-color;
    color: $grey-color;
    min-height: 100vh;
}

.mainLayout {
    display: flex;
}

.page {
    margin-top: 15px;
}


body {
    margin: 0;
}